
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}


/* main style */

.container {
  max-width: 960px;
  margin: 0px auto;
  padding: 20px 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.notes {
  background: linear-gradient(250deg, rgb(199, 107, 233) 0%, rgb(222, 164, 247) 100%);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  color: rgba(0, 0, 0, 0.701);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}
.notes:hover{
  transform: scale(1.025);
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.new-note {
  background-color: #67d7cc;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  color: rgba(0, 0, 0, 0.66);

  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
textarea {
  resize: none;
  border: none;
  background-color: transparent;
}
textarea:focus {
  outline: none;
}

.save {
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.5s;
  
}
.save:hover {
  background-color: rgb(188, 192, 195);
  cursor: pointer;
}


.save {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.save:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.save:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.save:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  margin-bottom: 1.3rem;
  padding: 5px;
  border-radius: 10px;
}
.search-icons {
  font-size: 1.5rem;
  margin-right: 5px;
}
.search input {
  background-color: rgb(233, 233, 233);
  border: none;
  width: 400px;
  padding: 5px 0px;
}
.search input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.header h1 {
  font-size: 30px;
}

.darkMode {
  background-color: black;
}
.darkMode .text {
  color: rgba(255, 255, 255, 0.744);
}
.darkMode .search{
color: rgba(255, 255, 255, 0.831);
background-color: rgba(255, 255, 255, 0.744);
}
